@model MinhasTarefas.UI.Models.Categoria


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Cadastro de Categoria</h2>


@using (Html.BeginForm())
{

    <div class="form-group">
         @Html.LabelFor(x => x.Nome)
         @Html.ValidationMessageFor(x => x.Nome)
         @Html.TextBoxFor( x => x.Nome, new { @class="form-control"})
    </div>

    <input type="submit" value="Enviar" class="btn btn-default"/>

}